*, body {
   margin: 0;
}
h1{
  font-size: 60px;
}
h3 {
  font-size: 30px;
}
#content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.image-container {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: -1;
}

/* .header{
  color: red;
  font-size: large;
} */