*, body {
   margin: 0;
}
h1{
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 30px;
}
#content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  padding: 10px 50px;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  row-gap: 10px;
  padding: 10px 50px;
}

button {
  width: 80px;
  height: 40px;
  margin: 30px;
}

.bg-container {
  position: absolute;
  width: fit-content;
  height: 100%;
  z-index: -1;
}

.bg-container > * {
  object-fit: cover;
  object-position: 100% 0;
}

/* ============ menu page items ============ */
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(900px, 95%, 1000px);
  height: auto;
  padding: 50px;
  background-color: rgba(0,0,0,.7);

  row-gap: 20px;
}

.menu-item {
  background-color: aliceblue;
  width: clamp(900px, 95%, 1000px);
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 12px;
  gap: 8px;
}

.item-descriptor {
  min-width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.image-container {
  min-width: 200px;
  height: auto;
}
.image-container > img {
  width: 200px;
  height: auto;
}

/* ============ home page items ============ */
.hours-container > img {
  background-color: rgba(0,0,0,.7);
  padding: 50px;
}

.splash {
  display: flex;
  flex-direction: column;
  width: 718px;
  height: 140px;
  background-color: rgba(0,0,0,.7);
  padding: 20px 0;
  margin: 20px 0;

  color: white;
}

.splash > * {
  align-self: center;
}


/* ============ contact page items ============ */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 718px;
  height: 140px;
  background-color: rgba(0,0,0,.7);
  padding: 15px 0;
  margin: 20px 0;

  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 718px;
  height: auto;
  background-color: rgba(0,0,0,.7);
  padding: 15px 0;
  color: white;
}

.contact-info > * {
  padding-left: 20px;
}
